/* Styles for the group list page */
.allGroups {
    color: teal;
    margin: 5px;
}
.allGroups:hover {
    color: teal;
    margin: 5px;
    cursor:default;
}

.allEvents {
    color: black;
    margin: 5px;
}

.allEvents:hover {
    color: teal

}
.group-list-header {
    color: black;
    padding: 10px;
    font-size: 24px;
    text-align: center;
    padding: 20px;
  }

  .group-caption {
    text-align: center;
    font-size: 18px;
    margin-top: -5px;
    color: teal;
  }

  .group-item {
    list-style-type: none;
    cursor: pointer;
    padding: 20px;
    border-bottom: 1px solid #ccc; /* horizontal line between items */
  }

  .group-item:hover {
    background-color: #f5f5f5;
  }

  .group-thumbnail {
    display: flex;
    flex-direction: column;
    margin-right: 15px;
    float: left;
    width: 50px;
  }
  .group-thumbnail-div {
    display: flex;
    flex-direction: column;
    margin-right: 15px;
    float: left;
    width: 100px;
    height: 100px;
    border: 1px solid black
  }

  .group-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    float: center;
    overflow: hidden; /* Clear float */
    width: 500px;
  }

  .group-name {
    font-size: 18px;
    font-weight: bold;
  }

  .group-location {
    font-size: 16px;
  }

  .group-description {
    font-size: 14px;
  }

  .group-events {
    font-size: 14px;
  }

  .group-privacy {
    font-size: 14px;
  }

  /* Style for the centered dot */
  .group-dot {
    align-items: center;
    margin: 5px;
  }


  .allGroupsSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
