.events-for-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
}
 .events-ul {
    list-style-type: none;

 }

 .event-item-group {
    border-radius: 10px;
    list-style-type: none;
    cursor: pointer;
    padding: 20px;
    margin-bottom: 10px;
    background-color: #f5f5f5;
    width: 450px
  }

  .event-item-group:hover {
    background-color: #f5f5f5;
    box-shadow: 0px 0px 5px;
  }

  .event-thumbnail-group {
    display: flex;
    flex-direction: column;
    margin-right: 15px;
    float: left;
    width: 50px;
  }
  .event-thumbnail-div-group {
    display: flex;
    flex-direction: column;
    margin-right: 15px;
    float: left;
    width: 100px;
    height: 100px;
    border: 1px solid black
  }

  .upcoming {
    margin-left: 40px;

  }

  .past {
    margin-left: 40px;

  }


  .nopast {
    margin-left: -345px;

  }

  .noupcoming {
    margin-left: -300px;
  }

  .event-date-time-group, .event-name-group, .event-location-group{
    margin-top: 2px;
    margin-bottom: 2px;
  }
