.LoginFormDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 250px;
    height: 250px;
    border-radius: 25px;
}

.inputField {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


}

.inputLabel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10px;

}

.login-button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.login-button:hover {
    color: white;
}

.demo-div{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -5px;
    margin-bottom: 20px;

}

.demo-button {
    text-decoration: underline;
}

.demo-button:hover {
    cursor: pointer;
    color: orangered;
}


.error {
    margin-top: 2px;
    font-size: 8px;
    margin-bottom: 0px;
    color: red;
}
