.LoginFormDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.inputField {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

button {
    margin-top: 5px;
}
